.formInput{
    display: flex;
    flex-direction: column;
    width: 100%;
}

input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}


label{
    font-size: 12px;
    color: gray;
}

span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      ),
      url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    background-position: center;
  }
  
  form{
      background-color: white;
      padding: 0px 60px;
      border-radius: 10px;
      height: 700px;
      width: 500px;
  }
  
  h1{
      color: rgb(77, 1, 77);
      text-align: center;
  }
  .sub{
    text-align: center;
  }
  
  button{
      width: 100%;
      height: 50px;
      padding: 10px;
      border: none;
      background-color: orange;
      color: white;
      border-radius: 5px;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      margin-top: 15px;
      margin-bottom: 30px;
  }
  .buttonOne{
    background-color: rgba(0,0,0,0);
    border: none;
    color: #2c75f2;
    font-weight: 500;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 4px;
    padding-left: 4px;
    padding-right: 4px;
    -webkit-appearance: none;
    appearance: none;
    transition: box-shadow .2s;
  }