
$color-1:#0A1551;
$color-2:#FFFFFF;
$color-3:#23186F;
$color-4:rgba(151, 178, 235, 1);
$color-5:#2C08BE;
$color-6:#1F1F28;
$color-7:#0C2A69;
$color-8:rgba(37, 99, 235, 1);
$color-9:#1147BC;
$bck-1:#3D0FF5;
$bck-2:rgba(128, 128, 128, 0.1);
$bck-3:rgba(37, 99, 235, 1);
$bck-4:#1147BC;
$shadow-1:rgba(39, 34, 71, 0.10);
$shadow-2:rgba(131, 163, 234, 0.25);



::-webkit-scrollbar {
    width: 16px; 
    
    
  }
  
   ::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-block: 1.5rem;
    
  } 
  
  ::-webkit-scrollbar-thumb {
    background: $bck-3; 
    border-radius: 10px;
    border: 4px solid $color-2;
    
    
  } 
  
  ::-webkit-scrollbar-thumb:hover{
    background-color: $bck-3;
    
  }



.dashboard-container{
    display: flex;
   
    width: 100%;
    height:calc(100vh - 70px);
    
    .dashboard-left-side{
        width: 50%;
        background-color: $bck-4;
        border-radius:0 16px 0 0 ;
        display: flex;
       
        flex-direction: column;
        align-items: center;
        padding-top: 60px;

        .card-name{
            display: flex;
            max-width: 360px;
            width: 100%;
            margin-bottom: 12px;
            font-family: Arimo;
            font-size: 20px;
            color: $color-2;
        }
        

        .right-side-center{
            max-width: 360px;
            width: 100%;
            max-height:512px;
            height: 100%;
            padding: 16px;
           display: flex;
           flex-direction: column;
           
          
            
            border-radius: 16px;
            background-color:$color-2;
            box-shadow: 0px 0px 16px 0px $shadow-2;
            
            margin-bottom: auto;
           overflow-y: auto;
            
      
            
            .profile{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
       
            margin-bottom: 12px;
                
            
            img{
              max-width: 100px;
              width: 100%;
              max-height:100px;
              height: 100%;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              margin-bottom: 12px;
              background-color: #2563EB;
              padding: 16px;
            }
      
            h5{
              font-family: Arimo;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin-bottom: 6px;
              color: $color-7;
             }
      
             p{
              margin-bottom: 24px;
              color: $color-7;
              font-size: 28px;
      
             }
          }
      
          .info{
           margin-top: 16px;
           
           h5{
            font-family: Arimo;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
           }
      
           p{
            font-family: Arimo;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            color:$color-8;
           }
          }
          }

    }

    .dashboard-right-side{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .qr-container{

        display: flex;
        flex-direction: column;
        background-color: rgba(208, 222, 251, 0.93);
        box-shadow: 0px 0px 16px 0px rgba(0, 43, 137, 0.25);
        border-radius: 16px;
        padding: 16px;
  
      
     
      .message{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        height:60px;
        z-index: 1;
        
        
  
        img{
          position: absolute;
          margin-bottom: 28px;
          z-index: -1;
        }
  
      p{
     
        display: flex;
       align-items: center;
       justify-content: center;
       height: 30px;
        max-width: 150px;
        width: 100%;
        
  
        border: none;
        border-radius: 16px;
        background-color: $color-6;
        color: $color-2;
        
        font-size: 14px;
        font-weight: 700;
        position: absolute;
  
      }
    }

    .edit-qr{
        border-radius: 12px;
        padding: 12px 24px;
        margin-bottom: 12px;
        cursor: pointer;
    }

    .white{
        background-color: $color-2;
        border: 1px solid $color-9;
        font-family: Arimo;
        font-size: 16px;
        font-weight: 700;
    }

    .blue{
        background-color: $color-9;
        font-family: Arimo;
        font-size: 16px;
        font-weight: 700;
        color: $color-2;
    }

  }
        
    }
}
