@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Merriweather:wght@700&family=Poppins:wght@500&display=swap");

$font: "Arimo", sans-serif;

$bck-1:#3D0FF5;
$bck-2:#C7F50F;
$border-1:#CEFDD7;
$border-2:#2563EB;
$title-1:#FFFFFF;
$color-1:#1E0582;
$color-2:#1147BC;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
  width: 100%;
  min-height: 70px;
  height: 100%;
  background-color: $title-1 ;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 16px 16px;
  font-family:$font;
    
    
    
  
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
  
    img{
      display: flex;
     
    }

    h2{
      color: $color-1;
      font-size: 28px;
      margin-left:12px;
    }
    
  }
  
  .input{
    display:flex ;

    .switch{
      background-color: red;
    }
   
  
  ul{
    min-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
    li{
      display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .sign-up{
      background-color: $color-2;
      color: $title-1;
    }

    button{
      max-width: 100px;
        width: 100%;
        max-height: 40px;
        height: 100%;
        display: flex;
        font-size: 1rem;
        outline: none;
        
        background-color:$title-1 ;
        color: $border-2;
        font-family: $font;
        font-weight: 700;
        font-size: 16px;

        cursor: pointer;

        align-items: center;
        justify-content: center;

        

        border: 1px solid $border-2;
        border-radius: 12px;


   

      

    }
  
  }  
  
  }
  
  }
  
  
  
   



