
.info-container{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: space-around;
   z-index: 1;
        

    .background{
       /*  height: calc(100vh - 70px); */
         position: relative;
           display: flex;
          align-items: center;
         justify-content: flex-end;
         position: absolute;
right: 167.874px;
top: 86px;
         
        
        img{
        position: absolute;
             z-index: -1;
           
        }
    }
    

    .info-slogan{
        width: 756px;
        height: 236px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        

        h3{
            font-size: 48px;
            color: #1E0582;
        }

        p{
            font-size: 20px;
            color: #3D0FF5;
        }

        .get-start{
          
           width: 136px;
           height: 40px;
            border: 1px solid #3D0FF5;
            background-color: #3D0FF5;
            color: #FFFFFF;
            border-radius: 12px;
            cursor: pointer;
            
        }
    }

    .info-img{
      height: 600px;
      width: 600px;

        
        
    }
}