@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Merriweather:wght@700&family=Poppins:wght@500&display=swap');

$font: 'Arimo', sans-serif;


$toggle-color:#3D0FF5;
$scroll-color:#2563EB;
$color-1:#97B2EB;
$color-2:#FFFFFF;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}



::-webkit-scrollbar {
  width: 16px; 
  
}

 ::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-block: 1.5rem;
  
} 

::-webkit-scrollbar-thumb {
  background: $scroll-color; 
  border-radius: 10px;
  border: 4px solid $color-2;
  
  
} 




 
.main-container{
  
    height: calc(100vh - 70px);
 
    display:flex ;
   flex-direction: column;

   font-family: $font;
   
   
   


    .main-top-edit{
      display: flex;
      justify-content: center;
      align-items: center;
      /* height: 120px; */
     

      .circle-container{
        max-width: 728px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        .next{
          display: flex;
          align-items: center;
          justify-content: center;
        }
      
      .circle{
        display: flex;
        flex-direction: column;
        
        align-items: center;
        button{
          width: 56px;
          height: 56px;
          background-color: $color-1;
          border-radius: 6px;
          display: flex;
         border: none;
         cursor: pointer;

         display: flex;
         align-items: center;
         justify-content: center;

         
        }
          .current{
          background-color: #2563EB;
         }
        .active{
          background-color: #0C2A69;
         }

        p{
          margin-top: 10px;
        }
      }
    }

      
    }

    .main-center{
      display: flex;
      height:calc(100vh - 190px);
      justify-content: center;
     
      
     

      h5{
        font-size: 20px;
        color: #23186F;
        margin-bottom: 12px;
        font-family: Arimo;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    .left-side-container{
      height: 100%;
      display: flex;
      flex-direction: column;

      .top-title{
        color:  #0C2A69;

        font-family: Arimo;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        margin-bottom: 12px;
      }
      .left-side{
        max-width: 680px;
        width: 100%;
        /* height: 515px; */
        height:calc(100vh - 260px);
        
        box-shadow: 0px 0px 16px 0px rgba(1, 37, 70, 0.10);
        border-radius: 16px;
        

       

       padding: 16px;

        overflow-y: auto;
       overflow-x: hidden;
       


       .personal-information{
        display:flex;
        width: 100%;
        

        
       
       }
        
        .user-form-input{
          max-width: 632px;
          width: 100%;
         

          display: flex;
          flex-wrap: wrap;
          align-items: center;
        
          padding-right: 20px;


          .file-input::-webkit-file-upload-button {
            visibility: hidden;

          }
          .file-input::before{
            content: 'Upload Photo';
            display: inline-block;
            
  
            padding-left: 20px;
            outline: none;
            white-space: nowrap;
            cursor: pointer;
            text-shadow: 1px 1px $color-2;
            font-weight: 700;
            font-size: 10pt;
          }


          .account{
            max-width: 280px;
            width: 100%;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            margin: 0px 12px;

            .upload-img{
              position: relative;
              
              img{
             
                position: absolute;
                padding: 15px;
              }

              .file-input{
            border: 1px dashed #6B697A;
            
            
          }
            }
            
          
            

            /* ------------------- */

        
            .toggle{
              max-width: 136px;
              width: 100%;
              
              display: flex;
              margin-left: 144px;
              

              color: $toggle-color;

            

              p{
                width: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              
           
            input[type=checkbox]{
              height: 0;
              width: 0;
              visibility: hidden;
              
             
            }
            
            label {
              cursor: pointer;
              text-indent: -9999px;
              width: 40px;
              height: 20px;
              background: $color-2;
              /* display: block; */
              border-radius: 100px;
              position: relative;

              margin-top: 8px;

             

              border: 3px solid $toggle-color;
             
              
            }

           
            
            label:after {
              content: '';
              position: absolute;
              top: 3px;
              left: 3px;
              width: 10px;
              height: 10px;
              background-color: $toggle-color;
              border-radius: 90px;
              transition: 0.3s;
            }
            
            input:checked + label {
              background-color: $toggle-color;
            }
            
            input:checked + label:after {
              left: calc(100% - 5px);
              transform: translateX(-100%);
              background-color: #F4FDCE;
            }
            
            label:active:after {
              width: 30px;
              
            }

          }

          

            button{
              width: 56px;
              height:56px;
              background-color: $scroll-color;
              cursor: pointer;
              border-radius: 50%;
   
              display: flex;
              align-items: center;
              justify-content: center;
            }

            p{
              max-width: 80px;
              width:100%;
              padding: 10px;
            }

            a{
              display: flex;
              width:calc(100% - 40px);
              padding: 8px;

            }
            
            span{
              margin-right: 12px;
              
                color: red;
              
            }

            input{
              max-width: 180px;
              width: 100%;
              height: 40px;

              border: 1px solid #23186F;
              border-radius: 6px;
              padding: 10px;

              border: 1px solid  #6B697A;
              &:focus{
                outline: none;
              }
              
            }


            textarea{
              width: calc(100% - 84px);
              height: 76px;

              border: 1px solid  #6B697A;
              border: 1px solid #23186F;
              border-radius: 6px;
              padding: 10px;
              
            

            }
          }
         
       }

        /* Additional İnformation Section */

       .pet-information{
        display:flex;
        max-width:600px;
        width: 100%;
        justify-content: space-between;

        margin-top: 16px;

        input{
          width: 12px;
          height: 12px;
          border-radius: 50%;
         margin-top: 30px;
         border: 1px solid  #6B697A;
        }

        p{
         
          display: flex;
          align-items: center;
        }
      

        select{
          max-width: 112px;
          width: 100%;
          height: 40px;

          border-radius: 6px;
          
          border: 1px solid  #6B697A;

       
          
        }



        

       }

       .center-container{
        width: 100%;
       /*  height: 100vh;
        display: flex;
        flex-direction: column;
         */

       .radio{
        width: 50px;
        display: flex;
        flex-direction: column;

        input{
          display: flex;
          flex-direction: column;
          justify-content:flex-start ;
          border: 1px solid  #6B697A;
        }

       }
        
       .pet-form-input{
        width:632px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      
        padding-right: 20px;

        .file-input::-webkit-file-upload-button {
          visibility: hidden;

        }

        .file-input::before{
          content: 'Upload Photo';
          display: inline-block;
          

          padding-left: 25px;
          outline: none;
          white-space: nowrap;
          cursor: pointer;
          text-shadow: 1px 1px $color-2;
          font-weight: 700;
          font-size: 10pt;
        }

       


        .account{
          max-width: 280px;
          width: 100%;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          margin: 0px 12px;

          .upload-img{
            position: relative;

            .file-input{
              max-width: 175px;
              width: 100%;
              border: 1px dashed #6B697A;
            }
            img{
              position: absolute;
              padding: 15px;
            }
          }

         
          
         

          select{
            max-width: 200px;
            width: 100%;
          height: 40px;

          border-radius: 6px;
          
          border: 1px solid  #6B697A;


          }

          button{
            width: 56px;
            height: 56px;
            background-color: $scroll-color;
            cursor: pointer;

            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          p{
            width:100px;
          }
          a{
            display: flex;
            width:calc(100% - 40px);
            padding: 8px;
  
          }

          input{
            width: 200px;
            height: 40px;

            border: 1px solid #23186F;
            border-radius: 6px;
            padding: 10px;
            border: 1px solid  #6B697A;
            &:focus{
              outline: none;
            }
            
          }

          textarea{
            width: 200px;
            height:52px;

            border: 1px solid #23186F;
            border-radius: 6px;
            padding: 10px;
            border: 1px solid  #6B697A;
          

          }
          
          
  
        }
        .update-button{
          max-width:600px;
          width: 100%;
          height: 44px;
          display:flex ;
          justify-content: flex-end;

          .button-click-add{
         
            display: flex;
            align-items: center;
            justify-content: center;
             width: auto;
             height: auto;
            padding: 12px 24px;
            margin-left: 16px;
            border-radius: 12px;
            
            background-color: #7AA0F3;
            color: $color-2;
  
            cursor: pointer;
  
          }
          
          .button-click{
         
          display: flex;
          align-items: center;
          justify-content: center;
           width: auto;
           height: auto;
          padding: 12px 24px;
          margin-left: 16px;
          border-radius: 12px;
          
          background-color: #1147BC;
          color: $color-2;

          cursor: pointer;

        }
        }
     }
        }

  }
}

    

      .right-side-edit{
        max-height: 492px;
        height: 100%;
        display:flex;
        flex-direction: column;
        margin-left: 36px;
        
    
        
        


      .right-side-top-edit{
        display: flex;
        justify-content: flex-end;
        
        

        .right-top-title-edit{
          font-size: 20px;
        }
      }

      

      .right-side-center-edit{
        width: 300px;
        max-height: 400px;
        height: 100%;
       /*  padding: 16px; */
        display: flex;
        flex-direction: column;
      
        
        border-radius: 16px;
        box-shadow: 0px 0px 16px 0px rgba(0, 43, 137, 0.25);
        
        margin-bottom: 12px;
       overflow-y: auto;
       overflow-x: hidden;

        
       .name{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
       }
        
        .profile{
          display: flex;
          justify-content: center;
         /*  background-color: rgba(208, 222, 251, 0.93); */
          

          
        
        img{
          width: 52px;
          height:52px;
          border-radius: 50%;
          display: flex;
          margin: 16px;
          justify-content: center;
          background-color: skyblue;
        }
      }

      .info{
        margin: 16px 16px 0 16px;
       
      }
      }
    

      .right-side-bottom{
        display:flex ;
        justify-content: flex-end;

        .edit-previous{
          color: #2563EB;
          border: 1px solid #2563EB;
          background-color: #fff;
          padding: 12px 24px;
        }

        button{
          display: flex;
          align-items: center;
          justify-content: center;

          border-radius: 12px;


          height: 42px;
          margin-left: 20px;
          padding: 16px;
          background-color: #3423A3;
          color: $color-2;

          cursor: pointer;

         
          
        }

   

      }
    }
    }

    



}